#h1 {
    text-align: center;
    font-size: 56px;    
}

.subheader {
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    margin: 1%
}

body {
    background-color: peachpuff
}

.textboxes {
    width: 800px;
    height: 640px;
    background-color:grey;
    margin: 0 auto;
    border: peachpuff solid 80px;
    border-radius: 15%
}

.sizing {
    width: 600px;
    height: 300px;
    display: block;
    margin: 0 auto;
}

.paragraph {
    text-align: center;
    font-size: 28px;
    margin-top: 2%;
}

.smallerparagraph {
    text-align: center;
    font-size: 16px;
    margin-left: 2%;
    margin-right: 2%;
}
.subheader2{
    text-align: center;
    font-size: 50px;
}

#h1 {}
